{% load render_bundle render_endpoint from webpack_loader %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="
{% if lang == 'nl' %}
Ben je het zat elke dag te appen wie zin heeft om te koken? Wil je liever niet 10 keer per dag
een tikkie sturen of steeds weer betalen voor dezelfde persoon? Vind je groen op wit ook zo'n mooie kleurcombinatie?
Dan is ELFSH echt iets voor jouw of jouw huis.
{% else %}
Are you tired of messaging people every day about who wants to arange food? Would you rather
not send payment requests for every communual expense when you know you'll probably have to pay
another one the next day? Do you also feel like green and white make a great color combination?
Then ELFSH is the app for you!
{% endif %}
          ">
    <title>ELFSH</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="manifest" href="/static/progressive-manifest.json">
    <meta name="theme-color" content="#0000ff">
    <link rel="icon" href="/static/images/icon_64.png">
    {% render_endpoint 'notifications' %}
</head>
<body>
<div id="container">
    Loading...
</div>
{% render_endpoint 'vendor' %}
</body>
</html>